<a href="https://colab.research.google.com/github/saketh105/Data690/blob/main/assignment03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT 03

**1. Using *random* library to generate random 10 x 10 matrix**

In [7]:
import random
for i in range (0,10):
    for i in range (0,10):
        print(random.randint(0,9),end=" ")
    print('')

6 9 6 1 8 1 5 3 5 1
3 5 4 4 2 7 7 6 4 8
2 1 3 4 9 3 5 6 9 1
6 4 7 8 9 2 3 2 1 3
4 9 7 2 4 4 5 1 3 5
4 9 2 7 2 9 7 7 8 7
6 9 4 8 2 3 3 1 0 3
9 0 2 4 6 1 1 2 5 1
4 2 8 8 8 9 2 4 5 6
6 7 0 1 9 8 2 3 5 5

 **2. printing *@* if the random integer is a odd number**

In [8]:
for i in range (0,10):
    for j in range (0,10):
        A=random.randint(0,9)
        if A%2==0:
            print(A,end=' ')
        else:
            print('@',end=' ')
    print('')

4 6 8 @ 2 8 0 8 2 @
@ @ 2 @ @ 8 @ 4 @ 4
0 @ 0 @ 8 4 @ @ 0 8
@ @ @ 4 8 @ 2 @ @ 4
8 @ 0 6 8 @ @ @ 2 @
4 @ 4 8 @ 6 0 8 @ @
@ @ @ @ @ 6 @ 2 0 4
8 2 0 6 @ @ @ @ 4 2
8 8 8 2 6 @ 2 @ @ @
2 8 0 8 @ 0 @ @ @ @

**3.calculating and printing the sum of each row**

In [9]:
for i in range (0,10):
    Sum=0
    for j in range (0,10):
        N=random.randint(0,9)
        Sum=Sum+N
        print(N,end=' ')
    print('*',Sum,end=' ')
    print(' ')

7 3 2 5 1 7 4 2 3 5 * 39
1 1 2 8 7 5 1 2 7 2 * 36
4 0 6 6 4 6 2 8 6 7 * 49
7 1 6 4 3 1 3 0 4 7 * 36
9 6 7 3 0 7 3 5 3 9 * 52
3 6 2 6 1 6 3 5 4 9 * 45
2 8 3 5 9 2 0 9 9 0 * 47
2 0 5 0 9 6 0 2 4 5 * 33
9 6 9 6 3 5 7 2 1 6 * 54
7 6 5 9 7 9 6 7 4 9 * 69

**4.Surrounding the matrix with asterisks**

In [10]:
for a in range (0,23):
    print('*',end='')
print('')
for i in range (0,10):
    Sum=0
    print('*',end='')
    for j in range (0,10):
        N=random.randint(0,9)
        Sum=Sum+N
        print('',N,end='')
    print(' *',end='')
    print('')
for b in range (0,23):
    print('*',end='')

***********************
* 4 1 7 3 2 4 4 7 4 8 *
* 4 0 3 5 9 0 6 5 3 7 *
* 3 5 0 1 1 5 5 5 0 5 *
* 4 6 6 2 0 9 3 0 3 7 *
* 5 6 3 4 9 0 2 3 8 9 *
* 3 6 3 7 1 6 8 8 7 2 *
* 0 9 6 8 1 6 7 7 5 4 *
* 0 4 2 2 6 6 5 8 0 2 *
* 4 0 9 5 2 7 7 0 3 2 *
* 3 5 8 8 7 4 8 8 1 0 *
***********************

**5. Calculating and Printing the total of each row and column**

In [13]:
c_sum = [0]*10
r_sum = 0
for i in range(10):
    r_sum = 0
    for j in range(10):
        sum = random.randint(0,9)
        r_sum=r_sum+sum
        c_sum[j] = c_sum[j] + sum
        print(sum, end="  ") 
    print("*",end=" ")
    print(r_sum,end="  ")
    print("\n")
for i in range(10):
    print("*",end="  ")
i = 0
print("\n")
while i<=9:
   print(c_sum[i],end=" ")
   i= i+1

7  4  4  3  8  3  5  9  6  0  * 49

5  0  7  6  7  8  4  2  3  4  * 46

6  6  9  9  4  7  8  9  3  0  * 61

7  4  3  0  3  9  8  2  3  5  * 44

1  8  0  2  0  0  3  3  9  7  * 33

2  1  8  4  7  9  2  8  5  5  * 51

6  0  8  0  1  1  1  4  9  4  * 34

1  0  3  2  6  4  9  4  9  4  * 42

2  3  3  9  8  9  9  2  2  9  * 56

2  1  4  6  8  3  9  8  3  6  * 50

*  *  *  *  *  *  *  *  *  *

39 27 49 41 52 53 58 51 52 44