<a href="https://colab.research.google.com/github/saketh105/Data690/blob/main/assignment5/Part_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reading data with python and pandas

In [ ]:
import pandas as pd

In [ ]:
filepath = '//btc-market-price.csv'

with open(filepath, 'r') as reader:
    print(reader)

<_io.TextIOWrapper name='//btc-market-price.csv' mode='r' encoding='UTF-8'>

In [ ]:
filepath = '//btc-market-price.csv'

with open(filepath, 'r') as reader:
    for index, line in enumerate(reader.readlines()):
        # read just the first 10 lines
        if (index < 10):
            print(index, line)

0 2017-04-02 00:00:00,1099.169125

1 2017-04-03 00:00:00,1141.813

2 2017-04-04 00:00:00,1141.6003625

3 2017-04-05 00:00:00,1133.0793142857142

4 2017-04-06 00:00:00,1196.3079375

5 2017-04-07 00:00:00,1190.45425

6 2017-04-08 00:00:00,1181.1498375

7 2017-04-09 00:00:00,1208.8005

8 2017-04-10 00:00:00,1207.744875

9 2017-04-11 00:00:00,1226.6170375

In [ ]:
csv_url = "https://raw.githubusercontent.com/datasets/gdp/master/data/gdp.csv"

pd.read_csv(csv_url).head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [ ]:
df = pd.read_csv('//btc-market-price.csv')

df.head()

   2017-04-02 00:00:00  1099.169125
0  2017-04-03 00:00:00  1141.813000
1  2017-04-04 00:00:00  1141.600363
2  2017-04-05 00:00:00  1133.079314
3  2017-04-06 00:00:00  1196.307937
4  2017-04-07 00:00:00  1190.454250

In [ ]:
df = pd.read_csv('//btc-market-price.csv',
                 header=None)

In [ ]:
df.head()

                     0            1
0  2017-04-02 00:00:00  1099.169125
1  2017-04-03 00:00:00  1141.813000
2  2017-04-04 00:00:00  1141.600363
3  2017-04-05 00:00:00  1133.079314
4  2017-04-06 00:00:00  1196.307937

In [ ]:
df = pd.read_csv('//btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'])

In [ ]:
df.head()

                     0            1
0  2017-04-02 00:00:00  1099.169125
1  2017-04-03 00:00:00  1141.813000
2  2017-04-04 00:00:00  1141.600363
3  2017-04-05 00:00:00  1133.079314
4  2017-04-06 00:00:00  1196.307937

In [ ]:
df = pd.read_csv('//btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'],
                 names=['Timestamp', 'Price'])

In [ ]:
df.head()

             Timestamp        Price
0  2017-04-02 00:00:00  1099.169125
1  2017-04-03 00:00:00  1141.813000
2  2017-04-04 00:00:00  1141.600363
3  2017-04-05 00:00:00  1133.079314
4  2017-04-06 00:00:00  1196.307937

In [ ]:
df = pd.read_csv('//btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'],
                 names=['Timestamp', 'Price'],
                 dtype={'Price': 'float'})

In [ ]:
df.head()

             Timestamp        Price
0  2017-04-02 00:00:00  1099.169125
1  2017-04-03 00:00:00  1141.813000
2  2017-04-04 00:00:00  1141.600363
3  2017-04-05 00:00:00  1133.079314
4  2017-04-06 00:00:00  1196.307937

In [ ]:
df.dtypes

Timestamp     object
Price        float64
dtype: object

In [ ]:
pd.to_datetime(df['Timestamp']).head()

0   2017-04-02
1   2017-04-03
2   2017-04-04
3   2017-04-05
4   2017-04-06
Name: Timestamp, dtype: datetime64[ns]

In [ ]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [ ]:
df.head()

   Timestamp        Price
0 2017-04-02  1099.169125
1 2017-04-03  1141.813000
2 2017-04-04  1141.600363
3 2017-04-05  1133.079314
4 2017-04-06  1196.307937

In [ ]:
df.dtypes

Timestamp    datetime64[ns]
Price               float64
dtype: object

In [ ]:
df = pd.read_csv('//btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'],
                 names=['Timestamp', 'Price'],
                 dtype={'Price': 'float'},
                 parse_dates=[0])

In [ ]:
df.head()

   Timestamp        Price
0 2017-04-02  1099.169125
1 2017-04-03  1141.813000
2 2017-04-04  1141.600363
3 2017-04-05  1133.079314
4 2017-04-06  1196.307937

In [ ]:
df.dtypes

Timestamp    datetime64[ns]
Price               float64
dtype: object

In [ ]:
df = pd.read_csv('//btc-market-price.csv',
                 header=None,
                 na_values=['', '?', '-'],
                 names=['Timestamp', 'Price'],
                 dtype={'Price': 'float'},
                 parse_dates=[0],
                 index_col=[0])

In [ ]:
df.head()

                  Price
Timestamp
2017-04-02  1099.169125
2017-04-03  1141.813000
2017-04-04  1141.600363
2017-04-05  1133.079314
2017-04-06  1196.307937

In [ ]:
df.dtypes

Price    float64
dtype: object

In [ ]:
exam_df = pd.read_csv('//exam-review.csv')

In [ ]:
exam_df

                               first_name>last_name>age>math_score>french_score
Ray>Morley>18>"68     000">"75                                             000"
Melvin>Scott>24>77>83 NaN                                                   NaN
Amirah>Haley>22>92>67 NaN                                                   NaN
Gerard>Mills>19>"78   000">72                                               NaN
Amy>Grimes>23>91>81   NaN                                                   NaN

In [ ]:
exam_df = pd.read_csv('//exam-review.csv',
                      sep='>')

In [ ]:
exam_df

  first_name last_name  age math_score french_score
0        Ray    Morley   18     68,000       75,000
1     Melvin     Scott   24         77           83
2     Amirah     Haley   22         92           67
3     Gerard     Mills   19     78,000           72
4        Amy    Grimes   23         91           81

In [ ]:
exam_df = pd.read_csv('//exam-review.csv',
                      sep='>')

In [ ]:
exam_df

  first_name last_name  age math_score french_score
0        Ray    Morley   18     68,000       75,000
1     Melvin     Scott   24         77           83
2     Amirah     Haley   22         92           67
3     Gerard     Mills   19     78,000           72
4        Amy    Grimes   23         91           81

In [ ]:
exam_df[['math_score', 'french_score']].dtypes

math_score      object
french_score    object
dtype: object

In [ ]:
exam_df = pd.read_csv('//exam-review.csv',
                      sep='>',
                      decimal=',')

In [ ]:
exam_df

  first_name last_name  age  math_score  french_score
0        Ray    Morley   18        68.0          75.0
1     Melvin     Scott   24        77.0          83.0
2     Amirah     Haley   22        92.0          67.0
3     Gerard     Mills   19        78.0          72.0
4        Amy    Grimes   23        91.0          81.0

In [ ]:
exam_df[['math_score', 'french_score']].dtypes

math_score      float64
french_score    float64
dtype: object

In [ ]:
pd.read_csv('//exam-review.csv',
            sep='>',
            thousands=',')

  first_name last_name  age  math_score  french_score
0        Ray    Morley   18       68000         75000
1     Melvin     Scott   24          77            83
2     Amirah     Haley   22          92            67
3     Gerard     Mills   19       78000            72
4        Amy    Grimes   23          91            81

In [ ]:
exam_df = pd.read_csv('//exam-review.csv',
                      sep='>',
                      decimal=',')

In [ ]:
exam_df

  first_name last_name  age  math_score  french_score
0        Ray    Morley   18        68.0          75.0
1     Melvin     Scott   24        77.0          83.0
2     Amirah     Haley   22        92.0          67.0
3     Gerard     Mills   19        78.0          72.0
4        Amy    Grimes   23        91.0          81.0

In [ ]:
pd.read_csv('//exam-review.csv',
            sep='>',
            skiprows=2)

   Melvin   Scott  24      77  83
0  Amirah   Haley  22      92  67
1  Gerard   Mills  19  78,000  72
2     Amy  Grimes  23      91  81

In [ ]:
exam_df = pd.read_csv('//exam-review.csv',
                      sep='>',
                      decimal=',',
                      skiprows=[1,3])

In [ ]:
exam_df

  first_name last_name  age  math_score  french_score
0     Melvin     Scott   24        77.0            83
1     Gerard     Mills   19        78.0            72
2        Amy    Grimes   23        91.0            81

In [ ]:
pd.read_csv('//exam-review.csv',
            sep='>',
            skip_blank_lines=False)

  first_name last_name   age math_score french_score
0        Ray    Morley  18.0     68,000       75,000
1     Melvin     Scott  24.0         77           83
2     Amirah     Haley  22.0         92           67
3        NaN       NaN   NaN        NaN          NaN
4     Gerard     Mills  19.0     78,000           72
5        Amy    Grimes  23.0         91           81

In [ ]:
pd.read_csv('//exam-review.csv',
            usecols=['first_name', 'last_name', 'age'],
            sep='>')

  first_name last_name  age
0        Ray    Morley   18
1     Melvin     Scott   24
2     Amirah     Haley   22
3     Gerard     Mills   19
4        Amy    Grimes   23

In [ ]:
pd.read_csv('//exam-review.csv',
            usecols=[0, 1, 2],
            sep='>')

  first_name last_name  age
0        Ray    Morley   18
1     Melvin     Scott   24
2     Amirah     Haley   22
3     Gerard     Mills   19
4        Amy    Grimes   23

In [ ]:
exam_test_1 = pd.read_csv('//exam-review.csv',
                          sep='>',
                          usecols=['last_name'])

In [ ]:
type(exam_test_1)

pandas.core.frame.DataFrame

In [ ]:
exam_test_2 = pd.read_csv('//exam-review.csv',
                          sep='>',
                          usecols=['last_name'],
                          squeeze=True)

In [ ]:
type(exam_test_2)

pandas.core.series.Series

In [ ]:
exam_df

  first_name last_name  age  math_score  french_score
0     Melvin     Scott   24        77.0            83
1     Gerard     Mills   19        78.0            72
2        Amy    Grimes   23        91.0            81

In [ ]:
exam_df.to_csv()

',first_name,last_name,age,math_score,french_score\n0,Melvin,Scott,24,77.0,83\n1,Gerard,Mills,19,78.0,72\n2,Amy,Grimes,23,91.0,81\n'

In [ ]:
exam_df.to_csv('out.csv')

In [ ]:
pd.read_csv('out.csv')

   Unnamed: 0 first_name last_name  age  math_score  french_score
0           0     Melvin     Scott   24        77.0            83
1           1     Gerard     Mills   19        78.0            72
2           2        Amy    Grimes   23        91.0            81

In [ ]:
exam_df.to_csv('out.csv',
               index=None)

In [ ]:
pd.read_csv('out.csv')

  first_name last_name  age  math_score  french_score
0     Melvin     Scott   24        77.0            83
1     Gerard     Mills   19        78.0            72
2        Amy    Grimes   23        91.0            81

In [ ]:
import pandas as pd

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('/chinook.db')
conn

In [ ]:
cur = conn.cursor()

In [ ]:
cur.execute('SELECT * FROM employees LIMIT 5;')

OperationalError: ignored

In [ ]:
results = cur.fetchall()

In [ ]:
results

[]

In [ ]:
df = pd.DataFrame(results)

In [ ]:
df.head()

In [ ]:
cur.close()
conn.close()

In [ ]:
conn = sqlite3.connect('//chinook.db')

In [ ]:
df = pd.read_sql('SELECT * FROM employees;', conn)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df['ReportsTo'].isna().sum()

In [ ]:
df['ReportsTo'].mean()

In [ ]:
df['City'] = df['City'].astype('category')

In [ ]:
df.info()

In [ ]:
conn = sqlite3.connect('//chinook.db')

In [ ]:
df = pd.read_sql_query('SELECT * FROM employees LIMIT 5;', conn)

In [ ]:
df.head()

In [ ]:
df = pd.read_sql_query('SELECT * FROM employees;', conn,
                       index_col='EmployeeId',
                       parse_dates=['BirthDate', 'HireDate'])

In [ ]:
df.head()

In [ ]:
#conn.close()

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///chinook.db')

connection = engine.connect()

In [ ]:
df = pd.read_sql_table('employees', con=connection)

In [ ]:
df.head()

In [ ]:
df = pd.read_sql_table('employees', con=connection,
                       index_col='EmployeeId',
                       parse_dates=['BirthDate', 'HireDate'])

In [ ]:
df.head()

In [ ]:
#connection.close()

In [ ]:
df.head()

In [ ]:
pd.read_sql_query('SELECT * FROM employees;', conn).head

In [ ]:
pd.DataFrame().to_sql('employees',
                      conn,
                      if_exists='replace')

In [ ]:
pd.read_sql_query('SELECT * FROM employees;', conn).head()

In [ ]:
df.to_sql('employees',
          conn,
          if_exists='replace')

In [ ]:
pd.read_sql_query('SELECT * FROM employees;', conn).head()

In [ ]:
conn.close()

In [ ]:
import pandas as pd

In [ ]:
html_string = """
<table>
    <thead>
      <tr>
        <th>Order date</th>
        <th>Region</th> 
        <th>Item</th>
        <th>Units</th>
        <th>Unit cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1/6/2018</td>
        <td>East</td> 
        <td>Pencil</td>
        <td>95</td>
        <td>1.99</td>
      </tr>
      <tr>
        <td>1/23/2018</td>
        <td>Central</td> 
        <td>Binder</td>
        <td>50</td>
        <td>19.99</td>
      </tr>
      <tr>
        <td>2/9/2018</td>
        <td>Central</td> 
        <td>Pencil</td>
        <td>36</td>
        <td>4.99</td>
      </tr>
      <tr>
        <td>3/15/2018</td>
        <td>West</td> 
        <td>Pen</td>
        <td>27</td>
        <td>19.99</td>
      </tr>
    </tbody>
</table>
"""

In [ ]:
dfs = pd.read_html(html_string)

In [ ]:
len(dfs)

In [ ]:
df = dfs[0]

df

In [ ]:
df.shape

In [ ]:
df.loc[df['Region'] == 'Central']

In [ ]:
df.loc[df['Units'] > 35]

In [ ]:
html_string = """
<table>
  <tr>
    <td>Order date</td>
    <td>Region</td> 
    <td>Item</td>
    <td>Units</td>
    <td>Unit cost</td>
  </tr>
  <tr>
    <td>1/6/2018</td>
    <td>East</td> 
    <td>Pencil</td>
    <td>95</td>
    <td>1.99</td>
  </tr>
  <tr>
    <td>1/23/2018</td>
    <td>Central</td> 
    <td>Binder</td>
    <td>50</td>
    <td>19.99</td>
  </tr>
  <tr>
    <td>2/9/2018</td>
    <td>Central</td> 
    <td>Pencil</td>
    <td>36</td>
    <td>4.99</td>
  </tr>
  <tr>
    <td>3/15/2018</td>
    <td>West</td> 
    <td>Pen</td>
    <td>27</td>
    <td>19.99</td>
  </tr>
</table>
"""

In [ ]:
pd.read_html(html_string)[0]

In [ ]:
pd.read_html(html_string, header=0)[0]

In [ ]:
html_url = "https://www.basketball-reference.com/leagues/NBA_2019_per_game.html"

In [ ]:
nba_tables = pd.read_html(html_url)

In [ ]:
len(nba_tables)

In [ ]:
nba = nba_tables[0]

In [ ]:
nba = nba_tables[0]

In [ ]:
nba.head()

In [ ]:
import requests

html_url = "https://en.wikipedia.org/wiki/The_Simpsons"

In [ ]:
r = requests.get(html_url)

wiki_tables = pd.read_html(r.text, header=0)

In [ ]:
len(wiki_tables)

In [ ]:
simpsons = wiki_tables[1]

In [ ]:
simpsons.head()

In [ ]:
simpsons.drop([0, 1], inplace=True)

In [ ]:
simpsons.set_index('Season', inplace=True)

In [ ]:
simpsons['No. ofepisodes'].unique()

In [ ]:
simpsons = simpsons.loc[simpsons['No. ofepisodes'] != 'TBA']

In [ ]:
min_season = simpsons['No. ofepisodes'].min()

min_season

In [ ]:
simpsons.loc[simpsons['No. ofepisodes'] == min_season]

In [ ]:
simpsons.head()

In [ ]:
simpsons.to_csv('out.csv')

In [ ]:
pd.read_csv('out.csv', index_col='Season').head()

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('/content/products.xlsx')

In [ ]:
df.head()

In [ ]:
pd.read_excel('products.xlsx').head()

In [ ]:
pd.read_excel('products.xlsx',
              header=None).head()

In [ ]:
df = pd.read_excel('products.xlsx',
                   index_col=[0])

In [ ]:
df.head()

In [ ]:
products = pd.read_excel('products.xlsx',
                         sheet_name='Products',
                         index_col='product_id')

In [ ]:
products.head()

In [ ]:
merchants = pd.read_excel('products.xlsx',
                          sheet_name='Merchants',
                          index_col='merchant_id')

In [ ]:
merchants.head()

In [ ]:
excel_file = pd.ExcelFile('products.xlsx')

In [ ]:
excel_file.sheet_names

In [ ]:
products = excel_file.parse('Products')

In [ ]:
products.head()

In [ ]:
products = excel_file.parse(sheet_name='Products',
                            header=0,
                            index_col='product_id')

In [ ]:
products.head()

In [ ]:
products.dtypes

In [ ]:
merchants = excel_file.parse('Merchants',
                             index_col='merchant_id')

In [ ]:
merchants.head()

In [ ]:
merchants.dtypes

In [ ]:
products.head()

In [ ]:
products.to_excel('out.xlsx')

In [ ]:
pd.read_excel('out.xlsx').head()

In [ ]:
products.to_excel('out.xlsx',
                  sheet_name='Products')

In [ ]:
products.to_excel('out.xlsx',
                  index=None)

In [ ]:
pd.read_excel('out.xlsx').head()

In [ ]:
products.to_excel('out.xlsx',
                  sheet_name='Products',
                  startrow=1,
                  startcol=2)

In [ ]:
writer = pd.ExcelWriter('out.xlsx')

In [ ]:
writer

In [ ]:
with writer:
    products.to_excel(writer, sheet_name='Products')

In [ ]:
pd.read_excel('out.xlsx', sheet_name='Products').head()

In [ ]:
with pd.ExcelWriter('out.xlsx') as writer:
    products.to_excel(writer, sheet_name='Products')
    merchants.to_excel(writer, sheet_name='Merchants')